---
layout: default
---

<div class="main-post-list">

  <ol class="post-list">
    {% for post in site.posts %}
    {% if post.title != "About Me" %}

      <li>
        <h2 class="post-list__post-title post-title"><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h2>

        <div class="post-list__meta">
  
       </div>
        <hr class="post-list__divider">
      </li>
      {% endif %}
    {% endfor %}
  </ol>

  <hr class="post-list__divider ">

  {% if paginator.previous_page or paginator.next_page %}
      {% include pagination.html %}
  {% endif %}

</div>